* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.br-r10 {
    border-radius: 10px;
}

header {
    width: 100%;
    height: 80px;
    background-color: rgba(244, 244, 244, 0.8);
    position: fixed;
    top: 0;
    z-index: 2;
    font-size: 24px;
    padding-left: 80px;
    padding-top: 24px;
    backdrop-filter: blur(10px);
}

.right {
    position: absolute;
    right: 80px;
}

main {
    margin-top: 80px;
    padding: 0 80px;
}

.container {
    padding-top: 60px;
    position: relative;
}

.card-wrapper {
    display: inline-block;
}

.card {
    max-width: 275px;
    background-color: #F4F4F4;
    font-size: 24px;
    padding: 15px 20px;
    min-height: 380px;
    max-height: 500px;
    overflow: scroll;
    margin-bottom: 20px;
}

.card:last-child {
    margin-bottom: 0;
}

.card:nth-child(2n+4) {
    background-color: red;
}


.card span {
    display: block;
}

.card__close-button {
    font-size: 18px;
    text-align: end;
    cursor: pointer;
    transition: color 1s;
}

.card__close-button:hover {
    background-color: #007e8d;
    color: #fff;
}

.card__title {
    font-size: 32px;
    margin-bottom: 33px;
    max-width: 230px;
}

.main-content {
    position: sticky;
    top: 100px;
    right: 0;
    width: calc(100% - 275px - 100px);
    height: 380px;
    background-color: #F4F4F4;
    float: right;
    padding: 20px;
    font-size: 24px;
    transition: 0.2s ease;
}

.main-content:hover {
    width: calc(100% - 275px - 200px);
}

.main-content img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #000000;
    margin: 40px 0;
}

.news {         
    margin-left: 76px;
}

.tek {
    width: 223px;
    height: 28px;
    left: 1425px;
    top: 34px;
    position: absolute;
}

.ush {
    float: left;
}

.jabu {
    font-size: 18px;
    padding-left: 216px;
}

.kart {
    margin-top: 28px;
    font-size: 32px;
    padding-left: 24px;
    padding-right: 49px;
}

.bir1 {
    margin-top: 75px;
    margin-left: 76px;
    background-color: #F4F4F4;
    display: block;
    width: 274px;
    height: 380px;
    border-radius: 10px;
}

.jabu2 {
    font-size: 18px;
    padding-left: 216px;
}

.kart2 {
    margin-top: 20px;
    font-size: 32px;
    padding-left: 24px;
    padding-right: 49px;
}

.text2 {
    margin-top: 18px;
    font-size: 24px;
    padding-left: 24px;
    padding-right: 19px;
}

.eki2 {
    border-radius: 10px;
    display: block;
    margin-top: 75px;
    margin-left: 76px;
    background-color: #F4F4F4;
    width: 274px;
    height: 380px;
}

.jabu3 {
    font-size: 18px;
    padding-left: 216px;
}

.kart3 {
    margin-top: 20px;
    font-size: 32px;
    padding-left: 24px;
    padding-right: 49px;
}

.text3 {
    margin-top: 18px;
    font-size: 24px;
    padding-left: 24px;
    padding-right: 19px;
}


.ush3 {
    border-radius: 10px;
    display: block;
    margin-top: 75px;
    margin-left: 76px;
    background-color: #F4F4F4;
    width: 274px;
    height: 380px;
}

.zhabyskak {
    border-radius: 10px;
    background-color: #F4F4F4;
    /* display: flex; */
    float: right;
    position: sticky;
    width: 1200px;
    height: 380px;

    margin-right: 74px;
    margin-top: 75px;
}

.textforjab {
    font-size: 24px;
    /* padding-top: 27px; */
    padding-left: 27px;
}

.Yers {
    font-size: 60px;
    padding-left: 488px;
}

.AboutYers {
    font-size: 40px;
    padding-left: 97px;
    padding-right: 80px;
}

.phonenumber {
    font-size: 18px;
    padding-top: 109px;
    padding-left: 97px;
}

.tolyk {
    border-radius: 10px;
    display: block;
    background-color: #e60000;
    width: 250px;
    height: 75px;
    margin-left: 97px;
    padding-left: 45px;
    padding-top: 15px;
    font-size: 32px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.2s ease;
}

.tolyk:hover {
    background-color: #a40101;
}

.tolyk:focus {
    outline: 3px solid #007e8d;
    background-color: green;
}

.finish {
    width: 1728px;
    height: 471px;
    background-color: #F4F4F4;
    margin-top: 60px;
}

.lasttext {
    padding-top: 77px;
    padding-left: 103px;
    color: black;
    font-size: 24px;
}


.lasttext2 {
    padding-top: 33px;
    padding-left: 103px;
    color: black;
    font-size: 24px;
}

.uhuh {
    padding-top: 225px;
    padding-left: 103px;
    font-size: 16px;
    color: black;
}